<div id="home">
  <div class="background">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
          <h2>ABOUT THE NIGHT OF TERROR</h2>
          <p>
            Halloween is celebrated every October 31 at night, walk around the
            city with your friends and trick or treat, enjoy this celebration
            under the full moon.
          </p>

          <button
            class="btn btn-primary btn-sm glassy-button mt-4"
            type="submit"
            (click)="scrollToContact()"
          >
            Know More!!
          </button>
        </div>
        <div class="col-md-6 order-md-1">
          <img
            src="../../assets/images/tree.png"
            alt="ghost3d"
            class="img-fluid"
            style="margin-top: 30px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>
