<div class="background">
  <section class="home" id="home">
    <div class="home-text" style="text-align: center">
      <h1 #animaterH1 style="margin-right: 10px">
        CHOOSE YOUR <br />SPOOKY CATEGORY
      </h1>

      <div><br /></div>
    </div>

    <div class="container">
      <div class="row mt-3">
        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img
              src="../../assets/images/newghost.png"
              class="card-img-top"
              alt="latte.jpg"
            />
            <div class="card-body">
              <h5 class="card-title">Ghost</h5>
              <p class="card-text">
                A friendly ghost to add a spooky yet cute vibe to your Halloween
                decor.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img
              src="../../assets/images/newpk.png"
              class="card-img-top"
              alt="espresso.jpg"
            />
            <div class="card-body">
              <h5 class="card-title">Pumpkin</h5>
              <p class="card-text">
                Nothing says Halloween like a bright, festive pumpkin!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img
              src="../../assets/images/witchhat.png"
              class="card-img-top"
              alt="cappuchino.jpg"
            />
            <div class="card-body">
              <h5 class="card-title">Witch Hat</h5>
              <p class="card-text">
                A classic Halloween accessory, perfect for casting spells and
                brewing potions!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div></div>
</div>
<app-about-us></app-about-us>
