<div class="contact" id="contact">
  <div class="background">
    <div class="footerContainer">
      <div class="socialicons">
        <h1>Contact Us</h1>
        <br />
        <div class="social-icons-container mb-3">
          <a target="_blank">
            <img
              src="../../assets/images/facebook (1).png"
              alt="Facebook"
              width="50"
              height="50"
            />
          </a>

          <a target="_blank">
            <img
              src="../../assets/images/instagram.png"
              alt="Instagram"
              width="50"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
